<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"> -->
    <link rel="stylesheet" href="/css/main.css">
    <title><%= title %></title>
</head>

<body>
    <div id="app">
        <!-- React -->
    </div>
</body>

<script src="/js/main.js"></script>
</html>
