$layoutHeight: 700px;
$bgBlue: #1561d4;
$bgLight: #dceafa;
$bgWhite: #ffffff;
$contentBg: #f0f2fa;

$textBlack: #000000;
$textWhite: #ffffff;
/* $textBlue: #0f54b9; */
$textBlue: #1561d4;
$textBlueLigth: #2f80ed;
$textColorGrey: #666666;
$textColor: #4d4d4d;
$textColorDark: #333;
$imagePath: /static/images/;

$proximaRegular: "Proxima Nova Rg", serif;
$proximaSB: "Proxima Nova SB", serif;
$proximaBold: "Proxima Nova Bold", serif;

$openSansRegular: "Open Sans Regular", serif;
$openSansBold: "Open Sans Bold", serif;
$openSansSemiBold: "Open Sans SemiBold", serif;

$formInputBackground: #e6eeff;
$formInputPlaceholder: #333;
$formInputLabel: #e5eeff;
$formAuthButton: #fdb448;
$formAuthButtonText: #020740;
