@font-face {
    font-family: "Proxima Nova Rg";
    src: url("../../fonts/ProximaNova-Regular.eot");
    src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
        url("../../fonts/ProximaNova-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../../fonts/ProximaNova-Regular.woff") format("woff"),
        url("../../fonts/ProximaNova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova SB";
    src: url("../../fonts/ProximaNova-Semibold.eot");
    src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"),
        url("../../fonts/ProximaNova-Semibold.eot?#iefix")
            format("embedded-opentype"),
        url("../../fonts/ProximaNova-Semibold.woff") format("woff"),
        url("../../fonts/ProximaNova-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Bold";
    src: url("../../fonts/ProximaNova-Bold.eot");
    src: local("Proxima Nova Bold"), local("ProximaNova-Bold"),
        url("../../fonts/ProximaNova-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("../../fonts/ProximaNova-Bold.woff") format("woff"),
        url("../../fonts/ProximaNova-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans Regular";
    src: local("Open Sans Regular"), local("OpenSans-Regular"),
        url("../../fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Bold";
    src: local("Open Sans Bold"), local("OpenSans-Bold"),
        url("../../fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans SemiBold";
    src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
        url("../../fonts/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
