@import "../vars.css";
@import "./fonts.css";
@import "../common/mixins.css";
@import "../common/common.css";

/* html, */
/* body { */
/* } */
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    @mixin bgLayoutLight;
}
#app {
    min-height: 100%;
    font-family: $proximaRegular;
}
.app-container {
    width: 100%;
    height: 100%;
}
.contentBlock {
    background: $contentBg;
    box-shadow: 6px 0px 16px rgba(51, 51, 51, 0.04);
    border-radius: 8px;
    margin: 0 32px;
}

.white {
    color: $textWhite;
}
.black {
    color: $textBlack;
}
.text {
    @mixin text;
}
