.dashboard {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.content {
    .row {
        background: $bgWhite;
        padding: 32px;
        border-radius: 8px;
    }
    .container {
        background: $bgWhite;
        border-radius: 8px;
        margin: 32px 0;
        &:first-child {
            margin-top: 0;
        }
        .containerSection {
            padding: 32px;
        }
        .containerFooter {
            background: linear-gradient(180deg, #2a6ed4 0%, $bgBlue 100%);
            color: $textWhite;
            font-family: $proximaSB;
            font-size: 16px;
            padding: 12px 32px;
            border-radius: 0 0 8px 8px;
        }
    }
}
.wrapper {
    margin: 32px;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
}

.layout {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;

    &.fixed {
        max-height: $layoutHeight;
    }
    &.stretch {
        flex-basis: $layoutHeight;
    }
}

.proximaRegular {
    font-family: $proximaRegular;
}
.proximaSB {
    font-family: $proximaSB;
}
.proximaBold {
    font-family: $proximaBold;
}

.tableGrid {
    font-family: $proximaRegular;
    &__Header {
        font-family: $proximaSB;
    }
    &__Row {
        font-family: $proximaSB;
    }
}

.link {
    @mixin link;
}

.linkBlue {
    @mixin link $textBlue;;
}
