@import "../vars.css";
.filter {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 48px;
    align-items: center;
}
.filterGroup {
}
.checkboxes {
    justify-self: flex-start;
    flex-grow: 1;
    font-family: $proximaSB;
    label {
        margin-right: 32px;
        font-size: 14px;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
        & > span {
            margin-left: 8px;
        }
    }
}
.toggleView {
    display: flex;
    /* a { */
        /* margin-right:24px; */
        /* &:last-child { */
        /*     margin-right: 0; */
        /* } */
    /* } */
}
.selectBox {
    margin-left: 32px;
    width: 230px;
    height: 36px;
    position: relative;
}
.selectMultiple {
    label {
        font-size: 12px;
        span {
            margin-left: 8px;
        }
    }
}
