@import "../vars.css";
.form {
    font-family: $openSansRegular;
    input[type="text"],
    input[type="password"],
    textarea {
        border-radius: 8px;
        padding-left: 16px;
        background-color: $formInputBackground;
        border: 0;
        &::placeholder {
            color: $formInputPlaceholder;
            font-size: 12px;
        }
    }
    input[type="text"],
    input[type="password"] {
        height: 48px;
        margin-bottom: 10px;
    }
    label {
        color: $formInputLabel;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 9px;
        display: inline-block;
    }
    button[type="submit"] {
        border-radius: 4px;
        height: 48px;
        background-color: $formAuthButton;
        border: 0;
        color: $formAuthButtonText;
        cursor: pointer;
        font-size: 16px;
        line-height: 19px;
        font-family: $openSansSemiBold;
    }
    .formGroup {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
.heading {
    font-family: $openSansBold;
    font-size: 21px;
    line-height: 22px;
    text-align: center;
    color: $formInputLabel;
    text-transform: uppercase;
    margin-bottom: 25px;
}
