@import "../vars.css";

@define-mixin text $textColor: $textColor {
    color: $textColor;
    font-family: $proximaRegular;
    font-size: 16px;
    line-height: 23px;
    h2 {
        font-size: 18px;
        font-family: $proximaBold;
        line-height: 22px;
        &.title {
            margin: 14px 0;
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

@define-mixin columns $col: 5{
    grid-template-columns: repeat($col, 1fr);
    &.col-5 {
        .tableHeader,.tableContent {
            grid-template-columns: repeat(5, 1fr);
        }
        grid-template-columns: repeat(5, 1fr);
    }
    &.col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    &.col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    &.col-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    &.col-1 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@define-mixin link $color: $textWhite {
    text-transform: uppercase;
    font-size: 12px;
    font-family: $proximaBold;
    text-decoration: none;
    color: $color;
    &:hover {
        text-decoration: underline;
    }
    &:focus {
        outline: none;
    }
}
