@import "../vars.css";
.range {
    display: flex;
    flex-direction: row;
    a {
        display: inline-block;
        font-family: $proximaBold;
        text-decoration: none;
        margin-right: 24px;
        line-height: 19px;
        font-size: 16px;
        color: $textBlue;
        &.is-active {
            color: $textBlueLigth;
            font-family: $proximaRegular;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.months {
    margin-left: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.monthCaption {
    margin: 0 14px;
    font-size: 24px;
    line-height: 29px;
    min-width: 120px;
    text-align: center;
}
