@import "../vars.css";
.grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 33px;
}
.header {
    font-family: $proximaBold;
    font-size: 18px;
    line-height: normal;
    color: $textWhite;
}
.status {
    background: $bgWhite;
    border-radius: 14px;
    padding: 4px 19px;
    display: inline-block;
    font-size: 12px;
    font-family: $proximaSB;
    line-height: 15px;
    color: $textBlue;
    width: max-content;
}
.gradient {
    background: linear-gradient(
        0deg,
        rgba(0, 101, 219, 0) 0%,
        rgba(21, 97, 212, 0.8) 100%
    );
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: block;
    text-decoration: none;
}
.wrapper {
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
}

.list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 33px;
    .row {
        background: $bgWhite;
        border-radius: 8px;
        padding: 22px 16px 22px 24px;
        display: grid;
        /* grid-template:'row-name row-status row-link'; */
        grid-template-columns: 4fr 1fr 1fr;
    }
}
.rowName {
    /* grid-area:row-name; */
}
.rowStatus{
    /* grid-area:row-status; */
}
.rowLink{
    /* grid-area:row-link; */
}
