@import "../vars.css";
.descr {
    display: grid;
    grid-template-areas:
        "title title"
        "article about";
    grid-template-columns: 1fr 0.8fr;
    grid-column-gap: 80px;
}
.descrContent {
    grid-area: article;
}
.descrTitle {
    grid-area: title;
}
.descrText {
}
.descrAbout {
    grid-area: about;
    .table {
        display: grid;
        grid-auto-rows: minmax(50px, auto);
        grid-template-columns: 1fr 1fr;
    }
    .caption {
        display: flex;
        justify-content: flex-start;
        font-family: $proximaBold;
    }
    .value {
        display: flex;
        justify-content: flex-end;
        text-align: right;
    }
    .buttonLibrary {
        margin-top: 20px;
    }
}
