@import "../vars.css";
.header {
    margin-top: 24px;
    color: $textBlue;
}
.headerWhite {
    background: $bgWhite;
    color: $textBlue;
    .container {
        padding: 24px 32px;
    }
    .title {
        h1 {
            font-size: 24px;
            line-height: 29px;
        }
    }
}
.container {
    display: flex;
    flex-direction: row;
    padding: 0 32px;
    justify-content: space-between;
    position: relative;
}
.filter {
    flex-grow: 1;
}
.title {
    font-family: $proximaBold;
    h1 {
        font-size: 32px;
        line-height: 39px;
        margin: 0;
    }
}
