@import "../common/mixins.css";
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .footerTitle {
        flex-basis: 320px;
        min-height: 76px;
        display: flex;
        align-items: center;
    }
    .footerRight {
        a {
            @mixin link $textWhite;
        }
    }
}
