@import "../vars.css";
.login {
    width: 100%;
    height: 100vh;
    background: radial-gradient(
        828.25px at 50% 51.17%,
        #0d18ab 0%,
        #000329 100%
    );
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container {
    width: 882px;
    background: silver;
    background: url("../../../images/crystal.svg") center top no-repeat;
    background-size: contain;
    background-position: center 140px;
    display: flex;
    justify-content: center;
}
.form {
    margin-top: 265px;
    width: 330px;
    display: flex;
    flex-direction: column;
    input[type="text"],
    input[type="password"] {
        max-width: 100%;
        width: 314px;
    }
    .heading {
        margin-bottom: 55px;
    }
    .formGroup {
        width: 100%;
    }
    .forgotPassword {
        display: flex;
        justify-content: right;
        a {
            color: $formInputLabel;
            text-decoration: none;
            font-size: 12px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    button[type="submit"] {
        min-width: 221px;
        margin-top: 24px;
    }
}
.help {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: $formInputLabel;
    font-family: $openSansRegular;
    padding-bottom:16px;
    .helpText {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 8px;
    }
    .helpEmail {
        font-family: $openSansBold;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 2px;
        a {
            color: $formInputLabel;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .helpPhone {
        font-family: $openSansBold;
        font-size: 18px;
        line-height: 25px;
    }
}

.logo {
    display: block;
    position: absolute;
    top: 16px;
    left: 39px;
}
.loading {
    margin-top: 30px;
}
