@import "../mixins/bgLayout.css";

.sidebar {
    width: 230px;
    @mixin bgLayout;
    display: flex;
    flex-direction: column;
    max-height: 800px;
    min-height: 500px;
    a {
        color: $textWhite;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .top {
        flex-grow: 1;
        margin-left: 24px;
        margin-top: 16px;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
    }
    .bottom {
        padding: 10px 40px 0;
    }
}
.logoWrapper {
    width: 100%;
    display: flex;
}

.logo {
    width: 178px;
    height: 78px;
    background-color: transparent;
    background: url("../../../images/logo.png") no-repeat;
    background-size: contain;
}
.userProfile {
    font-family: $proximaSB;
    .name {
        font-size: 16px;
        line-height: 20px;
    }
    .email {
        margin-top: 8px;
        font-size: 11px;
    }
}

.nav {
    flex-grow: 1;
    font-family: $proximaSB;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
        position: relative;
    }
    li {
        padding-left: 34px;
        min-height: 48px;
        &:before {
            content: "";
            width: 18px;
            height: 18px;
            position: absolute;
            left: 0;
        }
        &.calendar {
            &:before {
                background-image: url("../../../images/calendar.svg");
            }
        }
        &.library {
            &:before {
                background-image: url("../../../images/library.svg");
            }
        }
        &.courses {
            &:before {
                background-image: url("../../../images/courses.png");
            }
        }
    }
}
.helpLink {
    display: flex;
    justify-content: center;
    font-family: $proximaBold;
}
.socialButtons {
    margin-top: 18px;
    margin-bottom: 32px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .button {
        width: 28px;
        height: 27px;
        background-repeat: none;
        &.vk {
            background-image: url("../../../images/vk.svg");
        }
        &.fb {
            background-image: url("../../../images/fb.svg");
        }
        &.viber {
            background-image: url("../../../images/viber.svg");
        }
        &.telegram {
            background-image: url("../../../images/telegram.svg");
        }
    }
}
