@import "../vars.css";
.table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-family: $proximaRegular;
}
.day {
    display: flex;
    position: relative;
    padding: 4px;
    min-height: 106px;

    .dayOfWeek{
        color: $textColorDark;
        text-transform: uppercase;
        font-family: $proximaSB;
        font-size:14px;
        position: absolute;
        left: 8px;
        top: 8px;
    }
    &.weekend {
        .number {
            color: red;
            font-family: $proximaSB;
        }
    }
}
.curDay {
    .number {
        position: relative;
        color: $textWhite !important;
        font-family: $proximaRegular !important;
        &:before{
            content: "";
            position: absolute;
            width: 28px;
            height:28px;
            top:-5px;
            right:-10px;
            border-radius: 50%;
            background-color: #e50000;
            z-index: 1;
        }
        span {
            z-index: 2;
        }
    }
}
.curMonth {
    /* background: silver; */
    .number{ 
        opacity: 1;
    }
}
.number{
    display: flex;
    font-size: 16px;
    justify-content: flex-end;
    color: $textColor;
    opacity: 0.3;
    margin-top: 8px;
    margin-right: 8px;
    width: 100%;
    line-height: 18px;
    span {
        display: block;
    }
}
