@import "../vars.css";

@define-mixin bgLayout $bgColor: $bgBlue, $textColor: $textWhite {
    background-color: $bgColor;
    color: $textColor;
}
@define-mixin bgLayoutLight $bgColor: $bgLight, $textColor: $textColor {
    background-color: $bgColor;
    color: $textColor;
}
@define-mixin bgLayoutWhite $bgColor: $bgWhite, $textColor: $textColor {
    background-color: $bgColor;
    color: $textColor;
}
